# ignore all .a files
*.a

# but do track lib.a, even through you're ignoring .a files above
!lib.a

# only ignore the TODO file in the current directory, not subdir /TODO
/TODO

# ingnore all files in any directory named build
build/

# ignore doc/notes.txt, but not doc/server/arch.txt
doc/*.txt

# ingore all .pdf files in the doc/ directory and any of its subdirectories
doc/**/*.pdf

# the rules for the patterns you can put in the .gitignore file are as follows:

# Blank lines or lines starting with # are ignored.

# Standard glob patterns work, and will be applied recursively throughout the entire working tree.

# You can start patterns with a forward slash (/) to avoid recursivity.

# You can end patterns with a forward slash (/) to specify a dirctory.

# You can negate a pattern by starting it with an exclamation point (!)
